@import '../../app/scss/mixins';

.navbar {

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 33px 0;
  }

  &__logo {
    &-link {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    &-img {
      width: 25px;
      height: 25px;
    }
    &-title {
      @include title-3;
      color: $dark-3;
    }
  }

  &__social {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    gap: 12px;
  }
}