@import '../../app/scss/mixins';
@import '../../app/scss/colors';

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //align-items: center;
  gap: 10px;
  color: $dark-1

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  &__title {
    @include title-2;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    @include text-3;
    padding-top: 20px;
    padding-bottom: 20px;

    &-main {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
    }

    &-blocks {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
    }
  }
}

.breadcrumbs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  @include title-7;
 

  &-item {
    padding: 0px 0px;
    color: $dark-1;
  }

  &-link {
    @include link-1;
  }
}

.address {
  @include title-7;
  color: $dark-1;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 30px;
}