@import '../../../app/scss/mixins';
@import '../../../app/scss/colors';

.parameter {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  &__title {
    @include title-3;
    color: $dark-1;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  &__content {
    display: flex;
    flex-direction: column;
    //justify-content: flex-start;
    //align-items: center;
    gap: 7px;
    @include title-4;
  }
  &__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__value {
    color: $grey-3;
  }
  &__price {
    color: $orange-2;
  }
  &__total {
    color: $orange;
  }

}