@media screen and (max-width: 767px) {
  .container {
    padding: 5px;
  }
  .category {
    padding: 10px;
  }
  .category__info {
    flex-direction: column;
    width: 280px;
    padding-left: 5px;
  }
  .category__description {
    width: 280px;
  }
  .category__inner {
    width: 280px;
  }
  .category__inner-main {
    grid-template-columns: repeat(1, 1fr);
    width: 280px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .category__description {
    width: 360px;
  }
  .category__inner-main {
    grid-template-columns: repeat(2, 1fr);
  }
}