@import '../../../app/scss/mixins';
@import '../../../app/scss/colors';

.portfolio-element {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
  height: auto;
  overflow: hidden;
  cursor: pointer;
  transition: .4s;
  &:hover {
    transform: scale(1.1);
    border-bottom: 1px solid $orange;
  }
  &__img {
    width: 300px;
    height: auto;
  }
  &__title {
    @include title-3;
    color: $dark-1;
    padding-top: 20px;
    &:hover {
      color: $grey-2;
    }
  }
  &__category {
    @include title-7;
    padding-top: 20px;
    &-link {
      @include link-2;
    }
  }
  &__architect {
    @include title-7;
    padding-top: 20px;
    &-link {
      @include link-3;
    }
  }
  &__anons {
    @include text-1;
    color: $dark-1;
    padding-top: 15px;
  }
}