@import '../../app/scss/mixins';
@import '../../app/scss/colors';

.form-checkout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  gap: 20px;
  &__price {
    color: $dark-2;
  }
  &__title {
    color: $dark-2;
    @include title-7;
  }
}