$orange: #F88500;
$orange-2: #ff9e32;
$dark-1: #171A1A;
$dark-2: #202328;
$dark-3: #333333;
$light-1: #ffffff;
$light-2: #faf3f0;
$light-3: #fae6d2;
$light-4: #fad0a8;
$light-5: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 29.17%);
$grey-1: #C4C4C4;
$grey-2: #989DA5;
$grey-3: #6F7A8B;
$grey-4: rgba(111, 122, 139, 0.75);
$grey-5: #999999;




