@import 'fonts';
@import 'colors';

@mixin title-1 {
  font-family: $font-1;
  font-style: normal;
  font-weight: 300;
  font-size: 58px;
  line-height: 68px;
}

@mixin title-2 {
  font-family: $font-1;
  font-style: normal;
  font-weight: 800;
  font-size: 29px;
  line-height: 35px;
}

@mixin title-3 {
  font-family: $font-1;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 125%;
}

@mixin title-4 {
  font-family: $font-1;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
}

@mixin title-5 {
  font-family: $font-1;
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 22px;
}

@mixin title-6 {
  font-family: $font-1;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

@mixin title-7 {
  font-family: $font-1;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

@mixin title-8 {
  font-family: $font-1;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 165%;
}

@mixin title-9 {
  font-family: $font-1;
  font-style: normal;
  font-weight: 100;
  font-size: 12px;
  line-height: 165%;
}

@mixin read-more {
  font-family: $font-1;
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 170%;
}

@mixin font-menu-1 {
  font-family: $font-1;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

@mixin text-1 {
  font-family: $font-1;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
}

@mixin text-2 {
  font-family: $font-1;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 170%;
}

@mixin link-1 {
  color: $dark-3;
  &:hover {
    color: $light-1;
  }
}

@mixin back-1 {
  &:hover {
    background-color: $orange;
    border: 0;
    border-radius: 5px;
  }
}

@mixin main-common {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 auto;
}

@mixin button {
  @include title-7;
  color: $light-1;
  background-color: $orange;
  border-radius: 0 10px;
  border: 1px solid $dark-1;
  cursor: pointer;
  &:hover {
    color: $dark-1;
    background-color: $orange-2;
  }
}
