@media screen and (max-width: 767px) {
  .trust__inner {
    flex-direction: column;
  }
  .trust__list {
    width: 270px;
    gap: 10px;
    &--title {
      padding-bottom: 20px;
    }
    &--elements {
      grid-template-columns: repeat(1, 1fr);
      padding-bottom: 20px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .trust__list--elements {
    grid-template-columns: repeat(2, 1fr);
  }

}

