@import '../../app/scss/mixins';
@import '../../app/scss/colors';

.filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
  &__price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}