@import '../../../../app/scss/mixins';
@import '../../../../app/scss/colors';

.social-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  width: 300px;
  &__title {
    @include title-4;
  }
}