@import '../../app/scss/mixins';
@import '../../app/scss/colors';

.pagination {
  display: flex;
  gap: 10px;
  margin: 20px;
  &__item {
    &-active {
      @include button-2__active;
    }

  }
  &__link {
    @include button-2;
  }
}