@media screen and (max-width: 767px) {
  .menu-footer {
    width: 170px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .menu-footer {
    width: 170px;
  }
}
