@import '../../app/scss/mixins';
@import '../../app/scss/colors';

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    padding: 20px 5px;
  }
  &__title {
    @include title-2;
    padding: 0 5px;
    color: $dark-1;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    @include text-3;
    padding-top: 20px;
    padding-bottom: 20px;
    &-main {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
      padding-top: 5px;
      padding-bottom: 5px;
      width: 75vw;
    }
    &-blocks {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 25vw;
    }
  }
}

.breadcrumbs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  @include title-7;
  &__item {
    color: $dark-1;
  }
  &__link {
    @include link-2;
  }
}

