@import '../../app/scss/mixins';
@import '../../app/scss/colors';

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  &.active {
    opacity: 1;
    pointer-events: all;
  }
  &__content {
    padding: 20px;
    border-radius: 12px;
    border: 1px solid $dark-1;
    background-color: $light-3;
    height: auto;
    width: 600px;
    transform: scale(0);
    &.active {
      transform: scale(1);
      transition: 0.4s all;
    }
  }
}


